* {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1366px;
}
a {
    text-decoration: none;
}
.capa img{
    z-index: -1;
    position: fixed;
    width: 1366px;
    height: 766px;
    opacity: 25%;
 }
/*navegacion*/
.nav-conteiner {
    display: flex;
    width: 100%;
    background:linear-gradient(0.61deg,rgba(116, 78, 241, 0.26) -0.94%,rgba(255, 0, 0, 0.144) 115.97%);
}

.logo {
    width: 50px;
    height: 50px;
    margin: 10px 10px 10px 10px;
}

.perfil {
    border: solid 1px rgb(255, 255, 255);
    margin: 10px;
    align-items: center;
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 3px;
    border-radius: 20px;  
}

.nombre {
    margin-top: -5px;
    color: black;
}

.perfil a {
    color: rgb(255, 255, 255);
}

.logo-perfil{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 100%;
}

.buscador{
  margin: 20px 40px 0px 35%; 
  border-radius: 0 2px 2px 0;
}

.buscador i{
    background-color: #e7e5fa73;
    display: flex;
    align-items: center;
    width: 65px;
    padding-top: 1px;
    padding-bottom: 2.5px;
    border: 1px solid #0000007a;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin-left: -4.7px;
}

.inicio{
    margin: 10px 0px 0px 250px; 
    height: 50px;
    width: 50px;
}

.conocimientos {
	margin: 0 auto;
	font-size: 20px;
	width: 800px;
	text-align: center;
	margin-top: 20px;
}

.conocimientos h3{
	padding-top: 10px;
	color: rgba(0, 0, 0, 0.76);
}

.foto img{
	width: 175px;
	height: 175px;
	border-radius: 100%;
    margin-bottom: 15px;
}

.conocimientos-enlaces{
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
}

.texto-d-cono {
    color: black;
}

.subconocimientos {
    font-size: 20px;
}

.conocimientos-enlaces a{
	width: 200px;
	height: 40px;
	padding: 10px;
	color: rgb(255, 255, 255);
	background: linear-gradient(-45deg, #788cff, #b4c8ff);
	text-align: center;
	border-radius: 20px;
}

/* footer */
.footer-conteiner{
    background:linear-gradient(0.61deg,rgba(116, 78, 241, 0.26) -0.94%,rgba(255, 0, 0, 0.144) 115.97%);
    display: flex;
    margin-top: 38px;
    height: 60px;
}

.error{
    margin-left: 700px;
    margin-top: 20px;
}

.redes{
    margin-top: 20px;
    margin-left: 20px;
}

.facebook,.instagram,.twitter,.youtube{
    margin-top: 15px;
    margin-left: 20px;
} 

