*{
    font-family: 'Times New Roman', Times, serif;
    max-width: 1366px;
}

a {
    text-decoration: none;
}

.capa img{
    z-index: -1;
    position: fixed;
    width: 1366px;
    height: 768px;
    opacity: 25%;
 }

/*navegacion*/
.nav-conteiner {
    display: flex;
    width: 100%;
    background:linear-gradient(0.61deg,rgba(116, 78, 241, 0.26) -0.94%,rgba(255, 0, 0, 0.144) 115.97%);
    position: fixed;

}

.logo {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.perfil {
    border: solid 1px rgb(255, 255, 255);
    margin: 10px;
    align-items: center;
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 3px;
    border-radius: 20px;  
}

.perfil a{
    color: rgb(255, 255, 255);
}

.logo-perfil{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 100%;
}

.buscador{
  margin: 26px 0px 0px 38%; 
  border-radius: 0 2px 2px 0;
}

.buscador i{
    background-color: #e7e5fa73;
    display: flex;
    align-items: center;
    width: 65px;
    padding-top: 1px;
    padding-bottom: 2.5px;
    border: 1px solid #0000007a;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin-left: -4.7px;
}

.inicio{
    margin: 10px 0px 0px 250px; 
    height: 50px;
    width: 50px;
}

/* aside 1 */
.aside-conteiner{
    display: inline-block;
    margin-top: 80px;
}

.article-conteiner {
    margin-left: -30px;
    margin-top: -25px;
}

.aside-articulos{
    background-color: rgb(255, 255, 255);
    margin-left: 50px;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 30px;    
}

.programadores{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin-left: 50px;
    margin-top: 25px;
    border-radius: 30px;
}

.aside-conteiner ol{
    list-style: none;
    margin: 10px;
}

.aside-conteiner ol li{
    margin: 28px;
    margin-right: 125px;
    font-size: 25px;
}

.linea img,.linea8 img{
    margin-left: 30px;
    margin-top: -30px ;
    width: 200px;
    height: 10px;
    display: flex;
    opacity: 60%;     
}

.linea8{
    margin-bottom: 40px;
}

/* Article */
.publicaciones{
   width: 420px;
   height: 480px;
   display: flex;
   margin-left: 530px;
   margin-top: -473px;
   border: 1px solid black;
   background-color: rgb(255, 255, 255);
}

.article-nombre{
    margin-top: 20px;
}

.imagenlogo img{
    width: 60px;
    margin-left: 3px;
    height: 60px;
    border-radius: 100%;
    padding: 10px;
}

.publicacione-3puntos i{
    margin-top: 15px;
    margin-left: 145px;
    font-size: 30px;
}

.publicaciones-main img{
    display: flex;
    margin-top: -425px;
    margin-left: 540px;
    width: 400px;
    height: 340px;
}

.video {
    display: inline-block;
    margin-left: 540px;
    margin-top: -690px;
    margin-bottom: 150px;
}

.agarre {
    width: 400px;
    height: 400px;
    margin-top: -150px;
}

.like,.like2{
    display: flex;
    margin-top: 10px;
    margin-left: 550px;
}

.like i,.like2 i{
    color: rgba(255, 0, 0, 0.856);
}

.like p,.like2 p{
    margin-left: 10px;
}

.comentarios,.comentarios2{
    display: flex;
    margin-top: -35px;
    margin-left: 825px;
}

.comentarios p{
    margin-left: 10px;
}

.comentarios i,.comentarios2 i{
    margin-right: 10px;
    color: rgba(255, 0, 0, 0.856);
}

.comentarios2{
    margin-top: -15px;
}

.like2{
    margin-top: 25px;
}

.like2 a{
    padding-left: 10px;
}

.linea2 img{
    width: 420px;
    height: 10px;
    margin-left: 530px;
}

/* ASIDE 2 */
.aside-conteiner2{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    margin-left: 1030px;
    margin-top: -470px;
    width: 300px;
    height: 475px;
}

.destacados p{
   margin-left: 10px;
   margin-top: 30px;
   font-size: 24px;
}

.linea4 img{
    width: 300px;
    height: 10px;
    display: flex;
    opacity: 60%; 
}
/* footer */
.footer-conteiner{
    background:linear-gradient(0.61deg,rgba(116, 78, 241, 0.26) -0.94%,rgba(255, 0, 0, 0.144) 115.97%);
    display: flex;
    margin-top: 18px;
    height: 60px; 
    position: fixed; 
}

.error{
    margin-left: 736px;
    margin-top: 20px;
}

.suberror {
    margin-left: -25px;
    padding-right: 25px;
}

.redes{
    margin-top: 20px;
    margin-left: 20px;
}

.facebook,.instagram,.twitter,.youtube{
    margin-top: 15px;
    margin-left: 20px;
}
