body {
	background: url(./Imagenes/Software_Development_Programmi_m.png);
}


.contenedor {
	margin: auto;
	margin-top: 60px;
	box-sizing: border-box;
	text-align: center;
	width: 350px;
	height: 525px;
	border-radius: 15px;
} 

.img1 {
	margin-top: 10px;
    width: 100px;
    height: 100px;
}

.registro {
	font-size: 30px;
	color: rgb(62, 40, 184);
}

.contenedor input {
	margin-top: 20px;
	width: 200px;
	height: 25px;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: #ffffff3f;
}
.h2{
	margin-top: 20px;
}
.ingresar {
	margin-top: 40px;
	border-top: none;
	border-left: none;
	border-right: none;
	background: rgba(0, 0, 0, 0.274);	
	width: 210px;
	height: 40px;
}
.ingresar a {
	text-decoration:none;
	color:rgb(255, 255, 255);
}

.boton{
	border-top: none;
	border-left: none;
	border-right: none;
	background:#0000003f;
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:20px;
	padding:10px 0;
	text-align:center;
	width:120px;
	text-decoration:none;
	box-shadow:0px 3px 0px #000000;
}