body{
    font-family: 'Roboto', sans-serif;
    background: url(./Imagenes/Software_Development_Programmi_m.png);
    background-size: cover;
    text-align: center;
}

.logo {
    height: 230px;
    width: 230px; 
    margin-top: 30px;
    margin-bottom: 20px;
    opacity: 0.8;
}

.content {
    font-family: 'Times New Roman', Times, serif;
}

.tituloprincipal {
    font-size: 50px;
    text-align: center;
    margin-top: 15px;
    color: rgb(62, 40, 184);
    text-shadow: 1px 1px 1px #e25fe2;
    opacity: 0.5;
}

.hgroup {
    font-size: 24px; 
    color: #40445a;
    opacity: 0.7;
    margin: 0 auto;
}

.subtitulo1 {
    font-size: 24px;
    margin: 0 auto;
}

.subtitulo2 {
    font-size: 24px;
    margin: 0 auto;
}

.boton1 {
    margin-top: 130px;
    padding: 0;
    font-size: 30px;
    background:linear-gradient(0.61deg, 
    rgba(115, 78, 241, 0.22) -0.94%, 
    rgba(255, 0, 0, 0.11) 115.97%, 
    rgba(128, 0, 0, 0.02) 138.07%);
    width: 250px;
    margin-left: 40%;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: rgb(62, 40, 184);
}

.boton a :hover{
    background-color: turquoise;
}
